.input-check  {
	-webkit-transition: all 0.3s ease 0.1s;
	-moz-transition: all 0.3s ease 0.1s;
	-o-transition: all 0.3s ease 0.1s;
	transition: all 0.3s ease 0.1s;
}

.input-check:focus {
	outline: none;
	box-shadow: 0 0 5px #72bdbf;
}

.input-check.right {
	box-shadow: 0 0 5px #5cb85c;
}

.input-check.wrong {
	box-shadow: 0 0 5px #CB0000;
}

.valCheck {
	position: absolute;
	opacity: 0;
	left: 150px;
	display: inline-block;
}

.valCheck[right="1"] .valCheckSymbol:after {
	content: "\2714";
	color: #5cb85c;
}

.valCheck[right="1"] .valCheckText {
	color: #5cb85c;
}

.valCheck[right="0"] .valCheckSymbol:after {
	content: "\2716";
	color: #CB0000;
}

.valCheck[right="0"] .valCheckText {
	color: #CB0000;
}

.valCheck[right="0"] {
	background: rgb(255, 255, 255);
	padding: 2px 0;
	border-radius: 2px;
}

.valCheckSymbol {
	display: inline-block;
	float: left;
	margin-right: 2px;
}

.valCheckText {
	width:600px;
	text-overflow: ellipsis;
	display: inline-block;
	float: left;
}